.arrowContainer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 100%;
  animation: moveUpDown 2s ease infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(7px);
  }
}
