.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 99;
  top: calc(100% + 10px);
  left: 50%;
  opacity: 0;
  transition: 400ms ease;
  background-color: var(--bg-color-body-dark);
  color: #fff;
  border-radius: 5px;
  gap: 10px 0;
  box-shadow: var(--box-shadow);
  padding: 5px;
  width: max-content;
  animation: opacityTooltip;
  transform: translateX(-50%);
}

.line {
  position: absolute;
  width: 3px;
  height: 25px;
  background-color: var(--bg-color-body-dark);
  top: -15px;
  left: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-50%);
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  background-color: var(--bg-color-body-dark);
  border-radius: 50%;
}

.tooltipContainer:hover > .tooltip {
  opacity: 1;
}

.tooltipContainer:hover > .tooltip > .line {
  animation: heightLine 400ms ease;
}

@keyframes heightLine {
  0% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}

@keyframes opacityTooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
