.title {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.title h2 {
  margin: 0;
  padding-left: 10px;
}

.qualities {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.qualities:last-child {
  margin-bottom: 20px;
}
