.messagesContent {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 450px;
  background-color: var(--bg-body-color);
  border-radius: var(--border-radius);
  scrollbar-width: none;
}

.messagesContent::-webkit-scrollbar {
  display: none;
}

.statusWrap {
  position: absolute;
  bottom: -2px;
  right: 5px;
}

.bot,
.user {
  display: flex;
  margin-bottom: 20px;
}

.user {
  display: inline-flex;
  align-self: flex-end;
}

.arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.left {
  border-top: 2px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid var(--bg-color-bot-message);
}

.right {
  border-top: 6px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 10px solid var(--bg-color-user-message);
}

.botMessage,
.userMessage {
  text-align: unset;
  max-width: 300px;
  min-width: 100px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  color: var(--white-color);
  box-shadow: var(--shadow-light);
  overflow-wrap: break-word;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.botMessage {
  background-color: var(--bg-color-bot-message);
  margin-right: 30px;
}

.userMessage {
  background-color: var(--bg-color-user-message);
  margin-left: 30px;
  position: relative;
}

.botMessage p,
.userMessage p {
  margin: 0;
  text-align: unset;
  line-height: normal;
}
