.paragraph {
  max-width: 440px;
  line-height: var(--line-height);
  margin: 0 0 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: var(--font-size-xs);
  }
}
