.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth input {
  background-color: var(--white-color);
}
