.container {
  padding: 20px 0;
}

.link {
  color: var(--main-color);
  font-size: var(--font-size-sm);
  margin-top: 10px;
  display: none;
}

.stack {
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.stack::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 520px) {
  .container {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    padding: 10px 0;
  }
}
