.statusTimeWrap {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.userTime {
  bottom: 3px;
  right: 22px;
}

.botTime {
  bottom: 3px;
  right: 10px;
}

.botTime,
.userTime {
  position: absolute;
  font-size: var(--font-size-xs-mobile);
}
