.navDesktopContent {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navDesktopContent button > svg {
  color: var(--text-color);
}

.navItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
