.navDesktopContent {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.userInfoButton {
  display: none;
}

.navDesktopContent button > svg {
  color: var(--text-color);
}

@media screen and (max-width: 1502px) {
  .userInfoButton {
    display: block;
  }
}
