.textareaContainer {
  width: 100%;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  border: none;
  background-color: var(--bg-body-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
}

.error {
  border: 1px solid var(--red-color);
}

textarea:focus {
  border: 1px solid var(--main-color);
}

textarea::placeholder {
  font-weight: var(--font-weight-normal);
}

.error:focus {
  border-color: var(--red-color);
}

.errorMessage {
  color: var(--red-color);
  font-size: var(--font-size-xs);
}
