.textareaContainer {
  width: 100%;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  border: none;
  background-color: var(--bg-color-grey);
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
}

textarea:focus {
  border: 1px solid var(--main-color);
}

textarea::placeholder {
  font-weight: var(--font-weight-normal);
}

.error:focus {
  border-color: var(--red-color);
}

.errorMessage {
  color: var(--red-color);
  font-size: var(--font-size-xs);
}
