.notFoundContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconsWrap {
  height: 37%;
}

.icon {
  position: relative;
  bottom: 65px;
  left: 19px;
}
