:root {
  /* colors */
  --main-color: #ffb400;
  --main-color-red: #ff6d6d;
  --secondary-color: #2b2b2b;
  --white-color: #fff;
  --red-color: #ff0000;
  --orange-color: #ffa500;
  --green-color: #008000;
  --dark-yellow-color: #ffb40033;
  --bg-color: #f0f0f6;
  --bg-color-body-dark: #18191a;
  --bg-color-container: #242526;
  --bg-color-grey: #f0f0f6;
  --bg-color-bot-message: #2e8b57;
  --bg-color-user-message: #9370d8;
  --font-color-main: #767676;
  --bg-linear: linear-gradient(330deg, #ffb400 20%, #ff6d6d 100%);
  --bg-linear-reverse: linear-gradient(330deg, #ff6d6d 20%, #ffb400 100%);
  --bg-overlay-color: rgba(0, 0, 0, 0.5);

  /* font size */
  --font-size-xs-mobile: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md-mobile: 24px;
  --font-size-md: 32px;
  --font-size-lg-mobile: 40px;
  --font-size-lg: 48px;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-regular: 500;
  --font-weight-bold: 600;

  /* font height */
  --line-height: 24px;

  /* border radius */
  --border-radius: 5px;

  /* blur */
  --blur-overlay: blur(5px);

  /* box shadow */
  --shadow-light: 0 10px 10px #0505060d;
  --shadow-dark: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  /* --shadow-dark: 0px 0px 10px 0px #00000026; */
}
