.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

a:visited {
  color: inherit;
}

.name {
  color: var(--secondary-color);
}
