.cardContainer {
  perspective: 1000px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cardContainer:hover .card {
  box-shadow: var(--shadow-hover);
  border: 1px solid var(--main-color);
}

.cardContainer:hover .moreButton {
  background: var(--bg-linear-reverse);
}

.cardContainer:hover .moreButton svg {
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

.card {
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-card);
  transition:
    box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out,
    transform 0.6s;
  position: relative;
  transform-style: preserve-3d;
  border: 1px solid var(--border-color);
}

.cardContainer.flipped .card {
  transform: rotateX(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

.cardFront {
  justify-content: space-between;
  padding: 15px 30px;
}

.cardBack {
  transform: rotateX(180deg);
  justify-content: center;
}

.num {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.moreButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .cardFront {
    padding: 15px;
  }
}
