.mySkillsContainer div {
  flex-direction: unset;
}

.slillsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.aboutMeLink {
  position: relative;
}

.aboutMeLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: var(--bg-linear);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 865px) {
  .slillsWrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  .slillsWrapper {
    flex-direction: column;
  }
}
