.mySkillsContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--bg-color-grey);
  margin: 15px 0;
}

@media screen and (max-width: 865px) {
  .mySkillsContainer {
    justify-content: unset;
    height: unset;
  }
}