.container {
  display: flex;
  align-items: center;
  gap: 5px;
}

select {
  background-color: transparent;
  color: var(--font-color-main);
  border: none;
  cursor: pointer;
  outline: none;
  font-size: var(--font-size-md-mobile);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
