.tabs {
  display: flex;
  position: relative;
  background-color: var(--bg-color-grey);
  box-shadow: var(--box-shadow);
  padding: 1px;
  border-radius: var(--border-radius);
}

.tabs * {
  z-index: 2;
}

.checkbox {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 30px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.glider {
  position: absolute;
  display: flex;
  height: 25px;
  width: 30px;
  background-color: var(--background-color);
  z-index: 1;
  border-radius: var(--border-radius);
  transition: 0.25s ease-out;
}

.gliderEn {
  transform: translateX(0);
}

.gliderUk {
  transform: translateX(100%);
}

@media (max-width: 700px) {
  .tabs {
    font-size: var(--font-size-xs-mobile);
  }
}
