.mobileNavContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

button svg {
  color: var(--text-color);
}

.navItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
