.tag {
  display: inline-block;
  padding: 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  color: var(--font-color-main);
}

/* .tag:not(:last-child) {
  margin-right: 10px;
} */
