.tag {
  display: inline-block;
  padding: 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  color: var(--font-color-main);
}

.tag {
  margin: 3px;
}
