.tableContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

a {
  text-decoration: none;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 11px;
  height: 2px;
  background: var(--bg-linear);

  opacity: 0.5;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.disabledLink {
  pointer-events: none;
  cursor: default;
}

.period {
  display: flex;
  gap: 25px;
  align-items: center;
}

.position {
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
}

.date {
  background: var(--bg-linear);
  color: var(--white-color);
  font-size: 10px;
  padding: 4px 7px;
}

@media screen and (max-width: 827px) {
  .tableContainer {
    gap: 16px;
    flex-direction: column;
  }

  .description p {
    max-width: 100%;
  }
}
