.button {
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--secondary-color);
  border-radius: 10px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  box-shadow: var(--shadow-button);
  background-image: var(--bg-linear-button);
}

.button:hover {
  background-position: right center;
}

.button:active {
  transform: scale(0.95);
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  color: var(--secondary-color);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
