.buttonWithIcon {
  border-radius: 50%;
  display: flex;
  place-items: center;
  background-color: transparent;
}

.buttonWithIcon > svg {
  border-radius: inherit;
  padding: 8px;
  width: 38px;
  height: 38px;
}

.buttonWithIcon > svg:active {
  background-color: rgba(128, 128, 128, 0.35);
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
