.header {
  margin-bottom: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.info {
  padding: 25px;
}

.info h1 {
  font-family: 'Inter', sans-serif;
}

.name {
  font-weight: var(--font-weight-lighter);
}

.speciality {
  background-image: var(--bg-linear-reverse);
  background-clip: text;
  background-size: 1%;
  color: transparent;
  width: max-content;
  height: max-content;
}

.infoText {
  margin: 0 0 25px;
  text-align: left;
}

.image {
  width: 360px;
  position: relative;
  bottom: -20px;
}

.image img {
  width: 100%;
}

@media screen and (max-width: 934px) {
  .info h1 {
    font-size: var(--font-size-lg-mobile);
  }
}

@media screen and (max-width: 900px) {
  .content {
    padding: 20px 5px 20px;
  }

  .image {
    display: none;
  }

  .info {
    text-align: center;
    padding: 0;
  }

  .info h1 {
    font-size: var(--font-size-md);
  }

  .infoText {
    text-align: center;
  }

  .speciality {
    width: unset;
  }
}
