.header {
  margin-bottom: 50px;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;
}

.info {
  padding: 0 0 45px 45px;
}

.speciality {
  background-image: var(--bg-linear-reverse);
  background-clip: text;
  color: transparent;
}

.infoText {
  max-width: 445px;
  margin: 0 0 25px;
  line-height: 25px;
}

.image {
  width: 400px;
  position: relative;
  bottom: -20px;
}

.image img {
  width: 100%;
}

@media screen and (max-width: 934px) {
  .info h1 {
    font-size: var(--font-size-lg-mobile);
  }
}

@media screen and (max-width: 900px) {
  .content {
    padding: 20px;
  }

  .image {
    display: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .info h1 {
    font-size: var(--font-size-md);
  }
}
