.timeLineContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.timeLineContainer:not(:last-child) {
  margin: 0 0 15px;
}

.yearsLabel {
  background: var(--bg-linear);
  color: var(--text-color);
  font-size: var(--font-size-xs-mobile);
  padding: 4px 7px;
  border-radius: var(--border-radius);
  height: max-content;
}

.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 0;
}

.dot {
  width: 15px;
  height: 15px;
  background: var(--bg-linear);
  border-radius: 50%;
  position: relative;
  margin: 0 0 10px;
  box-shadow: 0px 0px 30px 1px rgba(255, 81, 47, 0.3);
}

.active::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: pulse 1s ease infinite;
  border-radius: 50%;
  border: 4px double var(--main-color);
}

.line {
  width: 1px;
  height: 85%;
  background-color: var(--border-color);
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 2%;
  height: 2px;
  background: var(--bg-linear);
  opacity: 0.5;
}

.disabledLink {
  pointer-events: none;
  cursor: default;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 15px;
}

.dateMobile {
  display: none;
}

.namePosition {
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  margin: 0 0 15px;
}

.infoWrapper {
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--border-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@media screen and (max-width: 670px) {
  .yearsLabel {
    display: none;
  }

  .dateMobile {
    display: block;
  }
}
