.joinForm {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: var(--bg-body-color);
}

.joinInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinInner input {
  background-color: var(--white-color);
  margin: 0;
}

.joinInner button {
  width: 100%;
  padding: 10px;
}
