.container {
  padding: 18px;
  background-color: var(--white-color);
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  margin: 0 0 18px;
  font-weight: var(--font-weight-regular);
  color: var(--secondary-color);
}

.userInfo {
  display: flex;
  align-items: end;
  gap: 10px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 100%;
}
