.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footerContent a {
  height: 35px;
}

.version {
  font-size: var(--font-size-xs-mobile);
}

@media screen and (max-width: 768px) {
  .footerContent {
    padding: 5px;
  }
}
