.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  color: var(--text-color);
}
