.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 20px;
}

.text li > p {
  margin-bottom: 20px;
  max-width: unset;
}

.contentImg img {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

@media screen and (max-width: 973px) {
  .text li > p {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .contentImg {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
  }
}
