.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.text li > p {
  margin-bottom: 20px;
}

.contentImg {
  width: 450px;
}

.contentImg img {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

@media screen and (max-width: 973px) {
  .text li > p {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .contentImg {
    width: 100%;
  }
}
