.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.text {
  display: grid;
  gap: 10px;
}

.text p {
  margin: 0;
  max-width: unset;
}

.contentImg {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.contentImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.contentImg:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 973px) {
  .content {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .text {
    grid-template-columns: 1fr;
  }
}
