@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-main);
  background-color: var(--bg-color);

  --background-color: var(--white-color);
  --text-color: var(--secondary-color);
  --box-shadow: var(--shadow-light);
  --bg-body-color: var(--bg-color);
  --bg-box-color: var(--white-color);
}

body.dark {
  background-color: var(--bg-color-body-dark);
  --background-color: var(--bg-color-container);
  --text-color: var(--white-color);
  --box-shadow: var(--shadow-dark);
  --bg-body-color: var(--bg-color-body-dark);
  --bg-box-color: var(--bg-color-body-dark-secondary);
}

input,
textarea {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  font-family: "Manrope", sans-serif;
}

button {
  font-family: "Manrope", sans-serif;
}

.Toastify__progress-bar-theme--dark,
.Toastify__progress-bar-theme--light {
  background: var(--bg-linear);
}

.Toastify__toast {
  box-shadow: var(--box-shadow);
}
