.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.openButton {
  width: 100%;
  color: var(--text-color);
  line-height: var(--line-height);
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 10px;
}

.contactWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 3px 10px 0;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact p {
  margin: 0;
}

.status {
  color: var(--green-color);
  font-size: var(--font-size-xs-mobile);
}
