.chatFooterWrap {
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
}

.chatFooterWrap div {
  margin: 0;
}

.chatFooterWrap textarea {
  background: transparent;
  color: var(--text-color);
  margin: 0;
  padding: 5px 0 0 10px;
  resize: none;
  overflow-y: auto;
}

.chatFooterWrap textarea:focus {
  border: none;
}

.sendButton {
  width: 32px;
  height: 30px;
  margin: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButton svg {
  color: var(--text-color);
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
