@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-main);
  background-color: var(--bg-color);

  --background-color: var(--white-color);
  --text-color: var(--secondary-color);
  --box-shadow: var(--shadow-light);
}

body.dark {
  background-color: var(--bg-color-body-dark);
  --background-color: var(--bg-color-container);
  --text-color: var(--white-color);
  --box-shadow: var(--shadow-dark);
}

h1,
h4,
p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  font-family: "Inter", sans-serif;
}
