.socialContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 0;
}

.link {
  top: 1px;
}

.link svg {
  color: var(--text-color);
  margin: 2px 0;
}

address {
  font-style: normal;
}
