.container button {
  background-color: transparent;
  min-width: 33px;
  min-height: 33px;
}

.container button:hover {
  background: var(--bg-linear);
}

.container button::before {
  color: var(--main-color);
}

.container button:hover::before {
  color: var(--white-color);
}

.item {
  margin-right: 5px;
}

@media screen and (max-width: 854px) {
  .container button {
    display: none;
  }
}
