.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay-color);
  backdrop-filter: var(--blur-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 10px;
}

.modalContent {
  background-color: var(--background-color);
  padding: 30px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  border: 1px solid transparent;
  background:
    linear-gradient(var(--bg-box-color), var(--bg-box-color)) padding-box,
    linear-gradient(
        103.55deg,
        #7152dc 16.12%,
        #2886a9 41.87%,
        rgba(63, 122, 144, 0.53) 84.45%
      )
      border-box;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
}

.closeButton svg {
  color: var(--text-color);
}

@media screen and (max-width: 375px) {
  .modalContent {
    width: 100vw;
    height: 100dvh;
    overflow: auto;
  }
}

@media screen and (max-width: 319px) {
  .modalContent {
    padding: 10px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .modalContent {
    width: 100vw;
    height: 100dvh;
    overflow: auto;
  }
}
